.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 100vh;
  margin-left: -50vh;
  margin-top: -50vh;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
