html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@import './style/_app.scss';
@import './style/_accelerometer.scss';
@import './style/_spinner.scss';
